.wrapper {
	margin: 50px auto;
	max-width: 800px;
	padding: 20px;
	background: url('http://www.publicdomainpictures.net/pictures/20000/nahled/seamless-paper-texture.jpg');
}

.header {
	padding: 30px 0;
	border-bottom: solid;
	font-family: "Comic Sans MS";
	color: #006400;
}

.content {
	float: right;
	width: 75%;
	border-left: solid;
	padding-left: 30px;
	font-family: "Comic Sans MS";
	color: #8b4513;
}

h1 {
	color: #d2691e;
}

nav {
	float: up;
	width: 0%;
	height: 1500px;

}

nav ul {
	list-style-type: none;
	padding: 50;
	font-family: "Comic Sans MS";
	color: #006400;
}
